:root {
  --main-branding-color: #FBF9F3;
  --secondary-color: #D5D1CB;
  --main-font-family: "Cormorant", serif;
  --second-font-family: "Montserrat", sans-serif;
  --content-font-family: "PT Serif", serif;   
}

.hero {
  background-image: url("/source/images/background-1.jpg");
  filter: opacity(0.9);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
  background-position: center;
}

.intro {
  margin-top: 40px;
}

.hero h1 {
  font-family: var(--main-font-family);
  font-weight: 300;
  font-style: italic;
  color: white;
  font-size: 50px;
  letter-spacing: 1px;
}

.hero h2 {
  font-family: var(--second-font-family);
  line-height: 20px;
  font-weight: 200;
  margin: 10px auto 10px auto;
  color: #ffffff;
  font-size: 15px;
}



.enter-button {
  text-decoration: none;
  background: var(--main-branding-color);
  color: #000000;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.enter-button a {
  text-decoration: none;
  color: #000000;
}

.enter-button a:hover {
  color: #000000;
  scale: 1.2;
}

/* ------> NAVBAR <------*/

.navbar-toggler {
  margin: 5px auto 0 auto;
  text-align: center;
  border: none !important;
  padding: 6px;
}

.navbar-toggler:hover {
  border: none !important;

}

.hero .navbar-nav a {
  color: #ffffff;
}

.navbar-nav {
  font-weight: 500;
  border-radius: 5px;
  width: 100%;
  gap: 58px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  margin: 5px auto 40px auto;
}

.menu:hover {
  scale: 1.2;
}

#calendario {
  align-items: center;
  margin: 0 auto;
}

.calendly-inline-widget {
  border-radius: 40px;
  margin: 0 auto;
  margin-top: 20px;
}


 /* ----------------- ARROWS --------------------------- */

 .icon-bar {
   position: fixed;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
 }

 .icon-bar a {
   display: block;
   text-align: center;
   padding: 12px;
   transition: all 0.3s ease;
   color: white;
   font-size: 20px;
 }

 .icon-bar a:hover {
   background-color: var(--rgba-main);
   color: #D5D1CB;
 }


 .godown {
   background: #D5D1CB;
   font-size: 15px !important;
   color: white;
 }

 .gotop {
    background: #D5D1CB;
    font-size: 15px !important;
 }


.back-btn {
  padding: 4px;
  text-decoration: none;
  color: white;
  background-color: var(--main-branding-color);
  border-radius: 50px;
}

/* ---------- SOBRE ---------*/

.sobre {
  background: #FBF9F3;
  padding: 100px 0;
}

.sobre h1 {
  font-family: var(--second-font-family);
  font-size: 12px;
}

.sobre h2 {
  font-family: var(--main-font-family);
  font-size: 50px;
  font-weight: 300;
}

.sobre h3 {
  font-family: var(--main-font-family);
}

.booking {
  padding: 10px 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

footer {
  margin-bottom: 20px;
}

footer a {
  text-decoration: none;
  color: rgba(136, 93, 241, 0.5);
}

footer a:hover {
  text-decoration: none;
  color: #885df1;
}